.phoneHeader {
    display: none;
}

header {
    position: fixed;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 5;
    gap: 10px;
    padding: 5px 19px 5px 27px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.219);
    top: 0px;
    left: 0px;
}

header > h1 > a {
    text-decoration: none;
    font: normal 1.1em var(--FONT-HIGHLIGHT);
    color: black;
    padding-right: 8px;
}

.iconCart {
    position: relative;
    display: flex;
    text-decoration: none;
}

.iconCart i {
    font-size: 2.6em;
    color: var(--GREEN_PRIMARY);
    padding: 8px;
    cursor: pointer;
}

.iconCart i:hover {
    background: var(--GRAY);
    border-radius: 5px;
}

.cartQuantity {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--GREEN_SECONDARY);
    color: white;
    font: bold 1em var(--FONT-DEFAULT);
    top: 1px;
    pointer-events: none;
    left: 38px;
}

.searchContainer {
    display: flex;
    align-items: center;
    width: 500px;
    gap: 3px;
}

.searchContainer > input {
    width: 100%;
    max-width: 500px;
    font-family: var(--FONT-DEFAULT);
    font-size: 1.1em;
    height: 40px;
    padding-left: 10px;
    border: 0;
    outline: 3px solid var(--GREEN_TERTIARY_OPACITY);
    border-radius: 5px 0 0 5px;
}

.searchContainer > input:focus {
    outline: 3px solid var(--GREEN_SECONDARY);
}

.searchContainer > button {
    height: 46px;
    width: 60px;
    font-size: 1.3em;
    cursor: pointer;
    border: 0;
    background: var(--GRAY);
    border-radius: 0 5px 5px 0;
}

footer {
    background-color: var(--GREEN_QUINARY);
    text-align: center;
    color: white;
    box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.329);
    font-family: var(--FONT-DEFAULT);
}

footer > p {
    padding: 10px;
}

footer > nav {
    padding: 20px;
}

footer > nav > a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0px 15px;
}

footer > nav > a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 812px) {
    header > h1 {
        width: 79.63px;
        margin-right: 8px;
    }
}

@media screen and (max-width: 550px) {
    .phoneHeader {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .phoneHeader > section {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .phoneHeader > section > h1 > a {
        text-decoration: none;
        font: normal 1.3em var(--FONT-HIGHLIGHT);
        color: black;
    }

    .searchContainer {
        width: 100%;
    }

}

@media screen and (max-width: 490px) {
    footer > nav > a {
        display: block;
        padding: 5px;
    }
}