main {
    padding: 0px 58px 0 58px;
    font-family: var(--FONT-DEFAULT);
    color: var(--GREEN_PRIMARY);
}

.slider {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.imgsSlider {
    transform: translateX(0);
    transition: .5s ease-in-out;
    display: flex;
}

.imgsSlider > img {
    cursor: pointer;
    width: 100%;
    min-height: 200px;
    object-fit: cover;
}

.slider > button {
    position: absolute;
    border: 0;
    color: var(--GREEN_PRIMARY);
    font-size: 2.2em;
    background: var(--GREEN_TERTIARY_OPACITY);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.slider > button:hover {
    background: var(--GREEN_TERTIARY);
}

.slider > button:nth-of-type(1) {
    left: 20px;
}

.slider > button:nth-of-type(2) {
    right: 20px;
}

.index {
    width: 20px;
    height: 20px;
    background: var(--GREEN_TERTIARY_OPACITY);
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
}

.indexes {
    display: flex;
    align-self: flex-end;
    gap: 5px;
    transition: .5s ease-in-out;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0);
    list-style-type: none;
}

.indexes > li {
    width: 20px;
    height: 20px;
    background: var(--GREEN_TERTIARY_OPACITY);
    border-radius: 50%;
}

.indexes > li:nth-of-type(1) {
    background: var(--GREEN_SECONDARY);
}

.ProductsList {
    padding-top: 25px;
}

.ProductsList > h2 {
    text-align: center;    
}

.line {
    border-top: 1px solid var(--GREEN_PRIMARY_OPACITY);
    flex: 1;
}

.paragrathWithLines {
    display: flex;
    align-items: center;
    gap: 10px;
}

.paragrathWithLines > p {
    text-align: center;
    font-size: 1.1em;
}

.notFound {
    padding-top: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.notFound > p {
    color: var(--GREEN_QUATERNARY);
    font-size: 2em;
    text-align: center;
}

.notFound > p > em {
    word-break: break-all;
}

.notFound > strong {
    color: var(--GREEN_PRIMARY_OPACITY);
    font-size: 3em;
}

.products {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;
}

.product {
    width: 278px;
    height: 350px;
    box-shadow: var(--SHADOW-PRIMARY);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.product > img {
    height: 180px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.productInfos {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.productInfos > p {
    font-size: .9em;
}

.buttonAndPrice > p {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
}

.buttonAndPrice > button {
    display: block;
    margin: auto;
    width: 100%;
    border: 0;
    background: var(--GREEN_SECONDARY);
    color: white;
    font: bold 1em var(--FONT-DEFAULT);
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.buttonAndPrice > button:hover {
    background: var(--GREEN_QUATERNARY);
}

@media screen and (max-width: 490px) {

    .slider {
        display: none;
    }

    .ProductsList {
        padding-top: 0;
    }
}

