main {
    padding: 76px 20px 20px 20px;
    font-family: "Noto Sans", sans-serif;
    color: var(--GREEN_PRIMARY);
}

.imageAndInfos {
    display: flex;
    height: 380px;
}

.imageAndInfos > figure {
   max-width: 700px;
   width: 100%;
}

.imageAndInfos > figure > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.information { 
    flex: 1;
    width: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnsProduct {
    width: 100%;
    max-width: 500px;
}

.btnsProduct > button:nth-of-type(1) {
    margin-bottom: 20px;
} 

.buttonProduct {
    display: flex;
    font: bold 1.3em "Noto Sans", sans-serif;
    color: white;
    border: 0;
    background: var(--GREEN_TERTIARY);
    width: 100%;
    width: 500px;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.buttonProduct:hover {
    background: var(--GREEN_QUATERNARY);
}

.buttonProduct > img {
    width: 30px;
}

.informationHeader > h1 {
    font-size: 1.7em;
    font-weight: normal;
}

.informationHeader > h2 {
    font-size: 1.7em;
}

.moreProducts {
    color: var(--GREEN_SECONDARY);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.7em;
    padding-bottom: 5px
}

.moreProducts:hover {
   color: var(--GREEN_QUATERNARY);
}

.moreProducts > div {
    width: 45px;
    height: 45px;
    background-image: url(../assets/open_door.svg);
    background-size: cover;
    margin-right: 15px;
}

.moreProducts:hover > div {
    width: 45px;
    height: 45px;
    background-image: url(../assets/open_door_hover.svg);
    background-size: cover;
    margin-right: 15px;
  
}

.description {
    padding-top: 40px;
}

.descriptionWithLine {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 3px;
}

.descriptionWithLine > div {
    flex: 1;
    border-top: 1px solid var(--GREEN_PRIMARY_OPACITY);
}

.description > p {
    font-size: 1.1em;
}

@media screen and (max-width: 1070px) {
    .imageAndInfos {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .information {
        padding-left: 0;
        align-items: center;
    }

    .moreProducts {
        padding-top: 5px;
    }

    .btnsProduct {
        padding-top: 10px;
    }

    .imageAndInfos > figure {
        max-width: 100%;
        width: 100%;
        flex: 1; 
    }

    .buttonProduct {
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (max-width: 388px) {
    .btnsProduct > button:nth-of-type(1) {
        font-size: .9em;
    }
}