body {
    min-height: 100vh;
    position: relative;
}

main {
    padding: 86px 20px 20px 20px;
    font-family: var(--FONT-DEFAULT);
    color: var(--GREEN_PRIMARY);
}

.modalBackground {
    display: none;
    position: absolute;
    top: 0;
    z-index: 6;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
}

.flexModal {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addModal {
    display: none;
    background: white;
    font-family: var(--FONT-DEFAULT);
    color: var(--GREEN_PRIMARY);
    flex-direction: column;
    align-items: center;
    padding: 30px 18px;
    border-radius: 10px;
    gap: 15px;
    margin: 10px;
}

.quantityAddModal {
    color: var(--GREEN_QUATERNARY);
    display: flex;
    align-items: center;
}

.quantityAddModal > span {
    font-size: 3em;
    padding: 0 20px;
}

.quantityAddModal button {
    border: 0;
    background: transparent;
    cursor: pointer;
    color: var(--GREEN_QUATERNARY);
    font-size: 2em;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantityAddModal button:hover {
    background: var(--GREEN_TERTIARY_OPACITY);
    border-radius: 50%;
}

.addModal h2 {
    font-weight: normal;
}

.btnsAddModal {
    display: flex;
    gap: 15px;
    flex-wrap: wrap-reverse;
    justify-content: center;
}

.btnsAddModal button {
    border: 0;
    font: bold 1.7em var(--FONT-DEFAULT);
    width: 150px;
    border-radius: 20px;
    padding: 5px 0;
    cursor: pointer;
    color: white;
    background: var(--GREEN_SECONDARY);
}

.btnsAddModal button:hover {
    background: var(--GREEN_QUATERNARY);
}

.buyModal {
    display: none;
    background: white;
    font-family: var(--FONT-DEFAULT);
    padding: 30px 18px;
    border-radius: 10px;
    margin: 10px;
}

.buyModal button {
    margin: 35px auto 0 auto;
    display: block;
    font: bold 1.5em var(--FONT-DEFAULT);
    color: white;
    border: 0;
    background: var(--GREEN_SECONDARY);
    padding: 5px 40px;
    border-radius: 30px;
    cursor: pointer;
}

.buyModal button:hover {
    background: var( --GREEN_QUATERNARY);
}

.buyModal h2 {
    font-weight: normal;
    font-size: 1.6em;
    color: var(--GREEN_PRIMARY);
}

.imageAndInfos {
    display: flex;
    height: 380px;
}

.imageAndInfos > figure {
   max-width: 700px;
   width: 100%;
}

.imageAndInfos > figure > img {
    width: 100%;
    height: 380px;
    object-fit: cover;
}

.information { 
    flex: 1;
    width: 100%;
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.btnsProduct {
    width: 100%;
    max-width: 500px;
}

.btnsProduct > button:nth-of-type(1) {
    margin-bottom: 20px;
} 

.buttonProduct {
    display: flex;
    font: bold 1.3em var(--FONT-DEFAULT);
    color: white;
    border: 0;
    background: var(--GREEN_TERTIARY);
    width: 100%;
    width: 500px;
    padding: 15px 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
}

.buttonProduct:hover {
    background: var(--GREEN_QUATERNARY);
}

.buttonProduct > img {
    width: 30px;
}

.informationHeader > h1 {
    font-size: 1.7em;
    font-weight: normal;
}

.informationHeader > h2 {
    font-size: 1.7em;
}

.moreProducts {
    color: var(--GREEN_SECONDARY);
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1.7em;
    padding-bottom: 5px
}

.moreProducts:hover {
   color: var(--GREEN_QUATERNARY);
}

.moreProducts > div {
    width: 45px;
    height: 45px;
    background-image: url(../assets/open_door.svg);
    background-size: cover;
    margin-right: 15px;
}

.moreProducts:hover > div {
    width: 45px;
    height: 45px;
    background-image: url(../assets/open_door_hover.svg);
    background-size: cover;
    margin-right: 15px;
  
}

.description {
    padding-top: 40px;
}

.descriptionWithLine {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 3px;
}

.descriptionWithLine > div {
    flex: 1;
    border-top: 1px solid var(--GREEN_PRIMARY_OPACITY);
}

.description > p {
    font-size: 1.1em;
    line-height: 1.5em;
}

@media screen and (max-width: 1070px) {
    .imageAndInfos {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .information {
        padding-left: 0;
        align-items: center;
    }

    .moreProducts {
        padding-top: 5px;
    }

    .btnsProduct {
        padding-top: 10px;
    }

    .imageAndInfos > figure {
        max-width: 100%;
        width: 100%;
        flex: 1; 
    }

    .buttonProduct {
        width: 100%;
        max-width: 500px;
    }
}

@media screen and (max-width: 780px) {
    main {
        padding: 122px 20px 20px 20px;
    }
}

@media screen and (max-width: 388px) {
    .btnsProduct > button:nth-of-type(1) {
        font-size: .9em;
    }
}