main {
    padding: 76px 20px 20px 20px;
    font-family: "Noto Sans", sans-serif;
    color: var(--GREEN_PRIMARY);
}

body > iframe:nth-child(1) {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 100;
}

.imageAndInfos {
    display: flex;
}

.information > button {
    display: block;
    font-family: "Noto Sans", sans-serif;
    color: white;
    font-weight: bold;
    border: 0;
    background: var(--GREEN_TERTIARY);
}

.information > p:nth-child(1) {
    color: var(--GREEN_SECONDARY);
}

.information > h1 {
    font-weight: normal;
}