* {
    font-family: var(--FONT-DEFAULT);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.paymentAndHeader {
    position: sticky;
    top: 0;
}

header {
    position: initial;
}

header > h1 > a {
    font-size: 35.2px;
}

main {
    padding: 20px;
    color: var(--GREEN_PRIMARY);
    flex: 1 0 auto;
}

.productList {
    list-style: none;
}

.allInfos {
    display: flex;
    font-size: 1.4em;
    align-items: center;
    gap: 20px;
}

.infos > p {
    width: 700px;
}

.allInfos > img:nth-child(1) {
    width: 250px;
    height: 120px;
    object-fit: cover;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
}

.quantityContainer {
    display: flex;
    align-items: center;
    gap: 15px;
}

.quantity > p:nth-child(1) {
    padding-right: 25px;
}

.quantityIcons {
    display: flex;
}

.quantityIcons > figure {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.quantityIcons > figure:hover {
    border-radius: 50%;
    background: var(--GREEN_TERTIARY_OPACITY);
}

.quantityIcons > figure > img {
    width: 24px;
}

.line {
    width: 100%;
    border-top: 1px solid var(--GREEN_PRIMARY_OPACITY);
}

.productLine {
    margin: 10px 0 30px;
}

.paymentLine {
    margin: 10px 0;
}

.product:nth-last-child(1) .line {
    display: none;
}

.paymentInformation {
    position: fixed;
    right: 0;
    bottom: 0;
    background: var(--GRAY);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: var(--SHADOW-PRIMARY);
    font-size: 1.5em;
    color: var(--GREEN_PRIMARY);
}

.priceAndQuantityResponsive {
    display: none;
}

.btnsPayment > button {
    display: block;
    color: var(--GREEN_PRIMARY);
    border: 0;
    background: var(--GREEN_SECONDARY);
    width: 100%;
    font-size: .9em;
    padding: 5px 0;
    border-radius: 5px;
    cursor: pointer;
}

.btnsPayment > button:hover {
    filter: brightness(0.9);
}

.btnsPayment > button:nth-of-type(1) {
    margin: 10px 0;
}

.btnsPayment > button:nth-of-type(2) {
    margin-bottom: 10px;
}

.moreProducts {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.moreProducts > svg {
    width: 30px;
    height: 30px;
}

.moreProducts:hover > svg {
    fill: var(--GREEN_PRIMARY);
}

.moreProducts > span {
    color: var(--GREEN_QUATERNARY);
    font-size: .8em;
}

.moreProducts:hover > span {
    color: var(--GREEN_PRIMARY);
}

footer {
    flex-shrink: 0;
}

@media screen and (max-width: 1265px) {
    .allInfos {
        flex-direction: column;
    }

    .allInfos > img:nth-child(1) {
        width: 100%;
        max-width: 320px;
        height: 220px;
    }

    .infos > p {
        width: 100%;
    }

    .paymentInformation {
        position: static;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
        width: 100%;
        margin: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .paymentInformation > .line {
        display: none;
    }

    .moreProducts {
        flex-direction: column-reverse;
        gap: 10px;
    }

    .btnsPayment > button {
        padding: 5px;
    }
}

@media screen and (max-width: 690px) {
    .priceAndQuantityResponsive {
        display: block;
    }

    .paymentInformation > p:nth-of-type(1) {
        display: none;
    }

    .paymentInformation > p:nth-of-type(2) {
        display: none;
    }

    .moreProducts {
        max-width: 82px;
    }

}

@media screen and (max-width: 550px) {
    .paymentAndHeader > header:nth-of-type(1) {
        display: none;
    }

    .phoneHeader > section > h1 > a {
        font-size: 31.2px;
    }
}

@media screen and (max-width: 477px) {
    .quantity {
        flex-direction: column;
        align-items: flex-start;
    }

    .quantityContainer {
        margin-top: -5px;
    }

}

@media screen and (max-width: 360px) {

    .paymentInformation {
        font-size: 1.1em;
    }

    .moreProducts {
        max-width: 60px;
    }
}